/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* importing the fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* declaring the variables */
:root{
    --primary: #d4ffea;
    --text-color: #32f898;
}

body{
    background-color: var(--primary);
    font-family: 'Poppins', sans-serif;
}

main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* resetting button properties */
button, input{
    border: none;
    background-color: var(--primary);
}

#calculator{
    /* border: 2px solid red; */
    height: 94vh;
    width: 55vh;
    border-radius: 28px;
    display: flex;
    box-shadow:
    8px 8px 12px rgba(0,0,0,0.25),
    -8px -8px 12px rgba(251,255,253,1)
    ;
    /* z-index: -2; */
    flex-direction: column;
}

/* the answer field */
#answerBox{
    width: 47vh;
    height: 12vh;
    border-radius: 20px;
    margin: 18px auto;
    /* margin-bottom: 60px; */
    box-shadow:
    inset 
    -5px -5px 10px rgba(255, 255, 255, 0.73), 
    inset 5px 5px 10px rgba(0, 0, 0, 0.25)
    ;
    display: flex;
    color: var(--text-color);
    font-size: 1.55rem;
    font-weight: bold;
    align-items: baseline;
    justify-content: right;
    overflow: hidden;
    padding: 10px;
    /* direction: rtl; */
    font-size: 2.3rem;
    font-family: Poppins;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
}

#answerBox:focus{
    outline: none;
}

/* all the buttons */
#button-container{
    display: grid;
    grid-template-areas: 
    'clear underroot delete divide'
    'seven eight nine multiply'
    'four five six subtract'
    'one two three add'
    'zero zero decimal equal'
    ;
}

/* the specific buttons */
#clear{
    grid-area: clear;
}
#underroot{
    grid-area: underroot;
}
#delete{
    grid-area: delete;
}
#divide{
    grid-area: divide;
}
#seven{
    grid-area: seven;
}
#eight{
    grid-area: eight;
}
#nine{
    grid-area: nine;
}
#multiply{
    grid-area: multiply;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six{
    grid-area: six;
}
#subtract{
    grid-area: subtract;
}
#one{
    grid-area: one;
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#add{
    grid-area: add;
}
#zero{
    grid-area: zero;
    width: auto;
}
#decimal{
    grid-area: decimal;
}
#equal{
    grid-area: equal;
}

/* exceptions */
#zero{
    display: flex;
    justify-content: left;
    padding: 20px;
}

#delete {
  /* height: 29.3435px; */
  background: url(../img/delete.png) center/29.3435px no-repeat;
}

/* utility classes */
.btn{
    /* maxes the box a circle */
    border-radius: 180px;
    height: 56px;
    width: 56px;
    box-shadow: 
    -8px -8px 16px rgba(255, 255, 255, 0.58), 
    8px 8px 16px rgba(0, 0, 0, 0.25)
    ;
    margin: 1rem 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    transition-property: all;
    transition-duration: 1.2s;
    color: #32f898;
    font-size: 1.55rem;
    font-weight: bold;
    /* these animations are for glowing text */
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
}

.btn:focus{
    outline: none;
}

/* keyframes for text glow animation */
@-webkit-keyframes glow{
    from{
        text-shadow: 
        0 0 1px #fff, 
        0 0 2px #fff, 
        0 0 3px #c1ffa9, 
        0 0 4px #c1ffa9, 
        0 0 5px #c1ffa9, 
        0 0 6px #c1ffa9, 
        0 0 7px #c1ffa9;
    }
    to {
        text-shadow: 
        0 0 1px #fff, 
        0 0 2px #fff, 
        0 0 3px #cfffbc, 
        0 0 4px #cfffbc, 
        0 0 5px #cfffbc, 
        0 0 6px #cfffbc, 
        0 0 7px #cfffbc;
    }
}

/* the mute button */
#sound{
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 40px;
    align-items: center;
    justify-content: center;
}

#sound-img{
    height: 40px;
    position: absolute;
    top: 8px;
    right: 5px;
}

#mute{
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 40px;
    align-items: center;
    justify-content: center;
}

#mute-img{
    height: 40px;
    position: absolute;
    top: 8px;
    right: 7px;
}

#delete-text {
  display: block;
  font-size: 0.1px;
}